@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition: all 0.3s linear;
  --transition-slow: all 0.5s linear;
  --overlay: rgba(0, 0, 0, 0.72);
  --white: #fff;
  --black: #141414;
  --grey-02: #9f9f9f;
  --grey-01: #d8d8d8;
  --accent-clr-01: #ff9692;
  --accent-clr-02: #fff1f0;
  --accent-clr-03: #fd3a33;
  --primary-green-01: #7fbe92;
  --primary-green-02: #b9ebc8;
  --primary-green-03: #e5ffed;
  --primary-green-04: #f1fff5;
  --primary-green-05: #fff6f2;
  --primary-blue-01: #9ad7e3;
  --primary-blue-02: #e3f7fb;
}

body {
}

.parts-grid {
  display: grid;
  grid-template-columns: 1fr min(calc(100vw - (5vw * 2)), 1200px) 1fr;
}

.parts-grid > * {
  grid-column: 2;
}

header {
  font-family: var(--font-montserrat);
}

.hero-grid {
  display: grid;
  grid-template-areas: "A B C" "D E F" "G H J" "K L M";
  grid-template-rows: 50px repeat(3, 1fr);
  grid-template-columns: 30px repeat(2, 1fr);
}
.hero-logo {
  grid-area: D;
}
.hero-catch {
  grid-area: H;
  filter: contrast(0.5);
}
